body
  font-family: Georgia,"Times New Roman",Times,serif
  font-style: normal
  font-variant: normal
  font-weight: normal
  letter-spacing: 0
  text-transform: none
  background: white
  color: rgb(51, 51, 51)
#local-header
  margin: 20px 0

.stories a:visited
  color: #784f4f !important
a.tag.active
  font-weight: bold

div#story_box input#story_url
  width: 100%

table#tagtable
  td
    padding-bottom: 10px
    vertical-align: middle

  a.tag
    vertical-align: top
  a.tag-tier-0, a.tag-tier-1
    background: #ffe1e0
    border-color: desaturate(darken(#ffe1e0, 10%), 30%)
    padding: 2px 5px

  .question
    strong
      padding: 2px 0
      display: block
    width: 225px
.help-tag
  background-color: white
  font-style: normal
  border: 1px solid #D5D458
  border-radius: 10px
  color: #555
  font-size: 7.5pt
  margin-left: 0.25em
  padding: 0px 0.5em 1px
  text-decoration: none
  vertical-align: middle

form .boxline
  input[type=text]
    width: 100%
  label
    display: block
    margin-bottom: 0

div#story_box div.markdown_help_toggler
  margin-left: 0

.story-image
  float: right
  margin-left: 5px
