  <div class="outline">
    <div class="container fix" id="branding">
      <div class="texture">
        <div class="content">
          <div class="content-pad">
            <div class="branding_wrap">
              <a title="Hacking Chinese - 揭密中文" href="http://www.hackingchinese.com" class="mainlogo-link"><img alt="Hacking Chinese - 揭密中文" src="http://www.hackingchinese.com/wp-content/uploads/2014/01/weblogobanner21-small2.png" class="mainlogo-img" scale="0"></a>

              <div style="bottom: 0px; right: px;" class="icons">

                <a class="rsslink" href="http://www.hackingchinese.com/feed/" target="_blank"></a>

                <a class="twitterlink" href="https://twitter.com/HackingChinese" target="_blank"></a>
                <a class="facebooklink" href="http://www.facebook.com/HackingChinese" target="_blank"></a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container fix" id="primary-nav">
      <div class="texture">
        <div class="content">
          <div class="content-pad">
            <div class="main_nav fix" id="nav_row">

              <ul class="main-nav" id="menu-nav">
                <li class="page_item page-item-591 "><a href="http://www.hackingchinese.com/">Welcome!</a></li>
                <li class="page_item page-item-1373"><a href="http://www.hackingchinese.com/blog/">Recent articles</a></li>
                <li class="page_item page-item-483"><a href="http://www.hackingchinese.com/questions/">Ask a question</a></li>
                <li class="page_item page-item-1487"><a href="http://www.hackingchinese.com/hc-elsewhere/">HC elsewhere</a></li>
                <li class="page_item page-item-548 page_item_has_children"><a href="http://www.hackingchinese.com/archive-2/">Archive</a>
                  <ul class="children">
                    <li class="page_item page-item-2586"><a href="http://www.hackingchinese.com/archive-2/beginner/">Beginner</a></li>
                    <li class="page_item page-item-2588"><a href="http://www.hackingchinese.com/archive-2/intermediate/">Intermediate</a></li>
                    <li class="page_item page-item-2590"><a href="http://www.hackingchinese.com/archive-2/advanced/">Advanced</a></li>
                    <li class="page_item page-item-2593"><a href="http://www.hackingchinese.com/archive-2/attitude-and-mentality/">Attitude and mentality</a></li>
                    <li class="page_item page-item-2596"><a href="http://www.hackingchinese.com/archive-2/key-study-hacks/">Key study hacks</a></li>
                    <li class="page_item page-item-2597"><a href="http://www.hackingchinese.com/archive-2/organising-and-planning/">Organising and planning</a></li>
                    <li class="page_item page-item-2602"><a href="http://www.hackingchinese.com/archive-2/learning-outside-class/">Learning outside class</a></li>
                    <li class="page_item page-item-2603"><a href="http://www.hackingchinese.com/archive-2/learning-in-class/">Learning in class</a></li>
                    <li class="page_item page-item-2607"><a href="http://www.hackingchinese.com/archive-2/immersion-and-integration/">Immersion and integration</a></li>
                    <li class="page_item page-item-2608"><a href="http://www.hackingchinese.com/archive-2/distinctively-chinese/">Distinctively Chinese</a></li>
                    <li class="page_item page-item-2611"><a href="http://www.hackingchinese.com/archive-2/recommended-resources/">Recommended resources</a></li>
                    <li class="page_item page-item-2612"><a href="http://www.hackingchinese.com/archive-2/science-and-research/">Science and research</a></li>
                    <li class="page_item page-item-2629"><a href="http://www.hackingchinese.com/archive-2/listening/">Listening</a></li>
                    <li class="page_item page-item-2631"><a href="http://www.hackingchinese.com/archive-2/speaking/">Speaking</a></li>
                    <li class="page_item page-item-2632"><a href="http://www.hackingchinese.com/archive-2/reading/">Reading</a></li>
                    <li class="page_item page-item-2635"><a href="http://www.hackingchinese.com/archive-2/writing/">Writing</a></li>
                    <li class="page_item page-item-2646"><a href="http://www.hackingchinese.com/archive-2/vocabulary/">Vocabulary</a></li>
                    <li class="page_item page-item-3483"><a href="http://www.hackingchinese.com/archive-2/essential-articles/">Essential articles</a></li>
                  </ul>
                </li>
                <li class="page_item page-item-5 current_page_item"><a href="/">Resources</a>
                <li class="page_item page-item-2 page_item_has_children"><a href="http://www.hackingchinese.com/about/">About</a>
                  <ul class="children">
                    <li class="page_item page-item-4134"><a href="http://www.hackingchinese.com/about/ask/">ASK</a></li>
                    <li class="page_item page-item-808"><a href="http://www.hackingchinese.com/about/thank-you/">Thank you!</a></li>
                  </ul>
                </li>
                </ul><form onsubmit="this.submit();return false;" action="http://www.hackingchinese.com/" class="searchform" method="get">
                <fieldset>
                  <input type="text" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" class="searchfield" name="s" value="Search">

                  <input type="image" alt="Go" src="http://www.hackingchinese.com/wp-content/themes/platform/images/search-btn.png" name="submit" class="submit btn">
                </fieldset>
              </form>
            </div>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
