<body class="home page page-id-591 page-template-default full_width ttype-default tmain-default">
  <div class="one-sidebar-right" id="site"> <!-- #site // Wraps #header, #page-main, #footer - closed in footer -->
    <div id="page"> <!-- #page // Wraps #header, #page-main - closed in footer -->
      <div id="page-canvas">
        <div class="container-group fix" id="header">
          <div class="outline">
            <div class="container fix" id="branding">
              <div class="texture">
                <div class="content">
                  <div class="content-pad">
                    <div class="branding_wrap">
                      <a title="Hacking Chinese - 揭密中文" href="http://www.hackingchinese.com" class="mainlogo-link"><img alt="Hacking Chinese - 揭密中文" src="http://www.hackingchinese.com/wp-content/uploads/2014/01/weblogobanner21-small2.png" class="mainlogo-img" scale="0"></a>

                      <div style="bottom: 0px; right: px;" class="icons">

                        <a class="rsslink" href="http://www.hackingchinese.com/feed/" target="_blank"></a>

                        <a class="twitterlink" href="https://twitter.com/HackingChinese" target="_blank"></a>
                        <a class="facebooklink" href="http://www.facebook.com/HackingChinese" target="_blank"></a>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container fix" id="primary-nav">
              <div class="texture">
                <div class="content">
                  <div class="content-pad">
                    <div class="main_nav fix" id="nav_row">

                      <ul class="main-nav" id="menu-nav">
                        <li class="page_item page-item-591 current_page_item"><a href="http://www.hackingchinese.com/">Welcome!</a></li>
                        <li class="page_item page-item-1373"><a href="http://www.hackingchinese.com/blog/">Recent articles</a></li>
                        <li class="page_item page-item-483"><a href="http://www.hackingchinese.com/questions/">Ask a question</a></li>
                        <li class="page_item page-item-1487"><a href="http://www.hackingchinese.com/hc-elsewhere/">HC elsewhere</a></li>
                        <li class="page_item page-item-548 page_item_has_children"><a href="http://www.hackingchinese.com/archive-2/">Archive</a>
                          <ul class="children">
                            <li class="page_item page-item-2586"><a href="http://www.hackingchinese.com/archive-2/beginner/">Beginner</a></li>
                            <li class="page_item page-item-2588"><a href="http://www.hackingchinese.com/archive-2/intermediate/">Intermediate</a></li>
                            <li class="page_item page-item-2590"><a href="http://www.hackingchinese.com/archive-2/advanced/">Advanced</a></li>
                            <li class="page_item page-item-2593"><a href="http://www.hackingchinese.com/archive-2/attitude-and-mentality/">Attitude and mentality</a></li>
                            <li class="page_item page-item-2596"><a href="http://www.hackingchinese.com/archive-2/key-study-hacks/">Key study hacks</a></li>
                            <li class="page_item page-item-2597"><a href="http://www.hackingchinese.com/archive-2/organising-and-planning/">Organising and planning</a></li>
                            <li class="page_item page-item-2602"><a href="http://www.hackingchinese.com/archive-2/learning-outside-class/">Learning outside class</a></li>
                            <li class="page_item page-item-2603"><a href="http://www.hackingchinese.com/archive-2/learning-in-class/">Learning in class</a></li>
                            <li class="page_item page-item-2607"><a href="http://www.hackingchinese.com/archive-2/immersion-and-integration/">Immersion and integration</a></li>
                            <li class="page_item page-item-2608"><a href="http://www.hackingchinese.com/archive-2/distinctively-chinese/">Distinctively Chinese</a></li>
                            <li class="page_item page-item-2611"><a href="http://www.hackingchinese.com/archive-2/recommended-resources/">Recommended resources</a></li>
                            <li class="page_item page-item-2612"><a href="http://www.hackingchinese.com/archive-2/science-and-research/">Science and research</a></li>
                            <li class="page_item page-item-2629"><a href="http://www.hackingchinese.com/archive-2/listening/">Listening</a></li>
                            <li class="page_item page-item-2631"><a href="http://www.hackingchinese.com/archive-2/speaking/">Speaking</a></li>
                            <li class="page_item page-item-2632"><a href="http://www.hackingchinese.com/archive-2/reading/">Reading</a></li>
                            <li class="page_item page-item-2635"><a href="http://www.hackingchinese.com/archive-2/writing/">Writing</a></li>
                            <li class="page_item page-item-2646"><a href="http://www.hackingchinese.com/archive-2/vocabulary/">Vocabulary</a></li>
                            <li class="page_item page-item-3483"><a href="http://www.hackingchinese.com/archive-2/essential-articles/">Essential articles</a></li>
                          </ul>
                        </li>
                        <li class="page_item page-item-2 page_item_has_children"><a href="http://www.hackingchinese.com/about/">About</a>
                          <ul class="children">
                            <li class="page_item page-item-4134"><a href="http://www.hackingchinese.com/about/ask/">ASK</a></li>
                            <li class="page_item page-item-808"><a href="http://www.hackingchinese.com/about/thank-you/">Thank you!</a></li>
                          </ul>
                        </li>
                        </ul><form onsubmit="this.submit();return false;" action="http://www.hackingchinese.com/" class="searchform" method="get">
                        <fieldset>
                          <input type="text" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" class="searchfield" name="s" value="Search">

                          <input type="image" alt="Go" src="http://www.hackingchinese.com/wp-content/themes/platform/images/search-btn.png" name="submit" class="submit btn">
                        </fieldset>
                      </form>
                    </div>

                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-group fix" id="page-main"> <!-- #page-main // closed in footer -->
          <div class="outline fix" id="dynamic-content">
            <div class="container fix" id="maincontent">
              <div class="texture">
                <div class="content">
                  <div class="content-pad">
                    <div class="one-sidebar-right fix" id="pagelines_content">

                      <div class="fix" id="column-wrap">

                        <div class="mcolumn fix" id="column-main">
                          <div class="mcolumn-pad">
                            <div class="copy fix" id="theloop">
                              <div class="copy-pad">
                                <%= render 'layouts/lobsterlayout' %>
                                <div class="clear"></div>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>


                      <div class="fix" id="sidebar-wrap">
                        <div class="scolumn fix" id="sidebar1">
                          <div class="scolumn-pad">
                            <div class="copy fix" id="sidebar_primary">
                              <div class="copy-pad">
                                <ul class="sidebar_widgets fix" id="list_sidebar_primary">
                                  <!-- Start Subscribe Sidebar widget -->
                                  <li class="widget_subscribe_sidebar widget fix" id="subscribe"><div class="widget-pad"><h3 class="widget-title">Subscribe</h3><div id="subscribe_sidebar"> <ul id="subscribe_sidebar_list">
                                          <li><a title="RSS Feed" href="http://www.hackingchinese.com/feed/"><img alt="RSS Feed" src="http://www.hackingchinese.com/wp-content/plugins/subscribe-sidebar/dropshadow/feed.png" scale="0"></a><a title="RSS Feed" href="http://www.hackingchinese.com/feed/">RSS Feed</a></li>
                                          <li><a title="Twitter" href="http://twitter.com/HackingChinese"><img alt="Twitter" src="http://www.hackingchinese.com/wp-content/plugins/subscribe-sidebar/dropshadow/twitter.png" scale="0"></a><a title="Twitter" href="http://twitter.com/HackingChinese">Twitter</a></li>
                                          <li><a title="Facebook Fan Page" href="http://www.facebook.com/HackingChinese"><img alt="Facebook Fan Page" src="http://www.hackingchinese.com/wp-content/plugins/subscribe-sidebar/dropshadow/facebook.png" scale="0"></a><a title="Facebook Fan Page" href="http://www.facebook.com/HackingChinese">Facebook</a></li>
                                        </ul>
                                  </div></div></li> <!-- End Subscribe Sidebar widget -->
                                  <li class="widget_text widget fix" id="text-5"><div class="widget-pad">     <div class="textwidget"><p style="background: #7b0000; color: white; padding: 5px;"><a href="http://www.hackingchinese.com/?page_id=2#support" style="text-decoration: none; color: inherit;">Click here to support Hacking Chinese!</a></p></div>
                                        </div></li><li class="widget_text widget fix" id="text-3"><div class="widget-pad"><h3 class="widget-title">Table of Contents</h3>     <div class="textwidget"><a href="http://www.hackingchinese.com/">Welcome!</a><br><a href="http://www.hackingchinese.com/archive-2/essential-articles/">Essential articles</a><br>
                                        <br>
                                        <a href="http://www.hackingchinese.com/archive-2/beginner/">Beginner</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/intermediate/">Intermediate</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/advanced/">Advanced</a><br>
                                        <br>
                                        <a href="http://www.hackingchinese.com/archive-2/vocabulary/">Vocabulary</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/listening/">Listening</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/speaking/">Speaking</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/reading/">Reading</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/writing/">Writing</a><br>
                                        <br>
                                        <a href="http://www.hackingchinese.com/archive-2/attitude-and-mentality/">Attitude and mentality</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/organising-and-planning/">Organising and planning</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/key-study-hacks/">Key study hacks</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/learning-in-class/">Learning in class</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/learning-outside-class/">Learning outside class</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/immersion-and-integration/">Immersion and integration</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/distinctively-chinese/">Distinctively Chinese</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/recommended-resources/">Recommended resources</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/science-and-research/">Science and research</a><br>
                                        <br>
                                        <a href="http://www.hackingchinese.com/archive-2/#chrono">A chronological list of all posts</a><br>
                                        <a href="http://www.hackingchinese.com/archive-2/#taglist">An alphabetical list of all tags</a><br>
                                        <br>
                                        <a href="http://www.hackingchinese.com/about/">About Hacking Chinese</a></div>
                                          </div></li><li class="widget_text widget fix" id="text-6"><div class="widget-pad"><h3 class="widget-title">Advertisement</h3>     <div class="textwidget"><a href="http://www.hackingchinese.com/go/hutong-school">
                                          <img src="http://www.hackingchinese.com/media/hts.jpg" scale="0"></a></div>
                                        </div></li><li class="widget_recent_comments widget fix" id="recent-comments-3"><div class="widget-pad"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"><li class="recentcomments">Brett on <a href="http://www.hackingchinese.com/learning-the-third-tone/#comment-233981">Learning the third tone in Chinese</a></li><li class="recentcomments">Scott Burgan on <a href="http://www.hackingchinese.com/two-reasons-why-pronunciation-matters-more-than-you-think/#comment-233626">Two reasons why pronunciation matters more than you think</a></li><li class="recentcomments"><a class="url" rel="external nofollow" href="http://www.hackingchinese.com">Olle Linge</a> on <a href="http://www.hackingchinese.com/learning-chinese-with-starcraft-2/#comment-233519">Learning Chinese with StarCraft 2</a></li><li class="recentcomments"><a class="url" rel="external nofollow" href="http://www.hackingchinese.com">Olle Linge</a> on <a href="http://www.hackingchinese.com/easing-yourself-into-reading-novels-in-chinese/#comment-233516">Easing yourself into reading novels in Chinese</a></li><li class="recentcomments"><a class="url" rel="external nofollow" href="http://www.hackingchinese.com">Olle Linge</a> on <a href="http://www.hackingchinese.com/phonetic-components-part-1-the-key-to-80-of-all-chinese-characters/#comment-233510">Phonetic components, part 1: The key to 80% of all Chinese characters</a></li></ul></div></li>    <li class="widget_recent_entries widget fix" id="recent-posts-6"><div class="widget-pad">   <h3 class="widget-title">Recent Posts</h3>   <ul>
                                        <li>
                                          <a href="http://www.hackingchinese.com/two-reasons-why-pronunciation-matters-more-than-you-think/">Two reasons why pronunciation matters more than you think</a>
                                        </li>
                                        <li>
                                          <a href="http://www.hackingchinese.com/habit-hacking-for-language-learners/">Habit hacking for language learners</a>
                                        </li>
                                        <li>
                                          <a href="http://www.hackingchinese.com/hacking-chinese-20132014-what-was-and-what-will-be/">Hacking Chinese 2013/2014: What was and what will be</a>
                                        </li>
                                        <li>
                                          <a href="http://www.hackingchinese.com/focusing-on-tone-pairs-to-improve-your-mandarin-pronunciation/">Focusing on tone pairs to improve your Mandarin pronunciation</a>
                                        </li>
                                        <li>
                                          <a href="http://www.hackingchinese.com/easing-yourself-into-reading-novels-in-chinese/">Easing yourself into reading novels in Chinese</a>
                                        </li>
                                      </ul>
                                          </div></li><li class="widget_text widget fix" id="text-8"><div class="widget-pad"><h3 class="widget-title">Advertisement</h3>     <div class="textwidget"><a href="http://www.hackingchinese.com/go/yoyo/">
                                          <img src="http://www.hackingchinese.com/media/yoyo.png" scale="0"></a>

                                      </div>
                                      </div></li><li class="bwp-rc-widget widget fix" id="bwp_recent_comments-2"><div class="widget-pad"><h3 class="widget-title">Recent mentions</h3>
                                      <ul class="bwp-rc-ulist">
                                        <li class="recent-comment"><a href="http://www.hamroni.com/on-the-nature-of-chinese-characters/">On the nature of Chinese characters</a> mentioned <a href="http://www.hackingchinese.com/learning-chinese-in-the-shower-with-me/#comment-231153">Learning Chinese in the shower with me</a></li>
                                        <li class="recent-comment"><a href="http://www.scotthyoung.com/blog/2014/02/13/plan-chinese-3-months/">My Plan for Learning Chinese Over Three Months « Scott H Young</a> mentioned <a href="http://www.hackingchinese.com/a-guide-to-pinyin-traps-and-pitfalls/#comment-230513">A guide to Pinyin traps and pitfalls</a></li>
                                        <li class="recent-comment"><a href="http://www.fluentu.com/chinese/blog/2014/02/05/how-to-learn-master-mandarin-chinese-tones/">How to Learn to Speak Perfect Mandarin Chinese Tones</a> mentioned <a href="http://www.hackingchinese.com/learning-the-third-tone/#comment-229557">Learning the third tone in Chinese</a></li>
                                        <li class="recent-comment"><a href="http://morevietnamese.com/language-links-tet-2014/">Unmissable Language Links - December 2013 &amp; January 2014 (Bumper Tết Edition) - More Vietnamese</a> mentioned <a href="http://www.hackingchinese.com/easing-yourself-into-reading-novels-in-chinese/#comment-224902">Easing yourself into reading novels in Chinese</a></li>
                                        <li class="recent-comment"><a href="http://www.enfants-spectacle.com/japprends-les-kanji-%e6%bc%a2%e5%ad%97-2197.html">Apprendre les kanji : autre méthode ! | Un monde pour enfants, activités, sorties, spectacles, animations, ballons... | Kanji Hanzi</a> mentioned <a href="http://www.hackingchinese.com/learning-chinese-characters/#comment-221875">Creating a powerful toolkit: Individual characters</a></li>
                                      </ul>
                                        </div></li><li class="widget_twitter_timeline widget fix" id="twitter_timeline-2"><div class="widget-pad" data-twttr-id="twttr-sandbox-0"><h3 class="widget-title">Twitter activity</h3><iframe width="320" scrolling="no" height="700" frameborder="0" id="twitter-widget-1" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" style="border: medium none; max-width: 100%; min-width: 180px;" title="Twitter Timeline"></iframe></div></li><li class="widget_tag_cloud widget fix" id="tag_cloud-4"><div class="widget-pad"><h3 class="widget-title">Article tags</h3><div class="tagcloud"><a style="font-size: 19pt;" title="13 topics" class="tag-link-46" href="http://www.hackingchinese.com/tag/anki/">Anki</a>
                                        <a style="font-size: 19.6pt;" title="14 topics" class="tag-link-20" href="http://www.hackingchinese.com/tag/attitude/">Attitude</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-30" href="http://www.hackingchinese.com/tag/being-corrected/">Being corrected</a>
                                        <a style="font-size: 13pt;" title="6 topics" class="tag-link-164" href="http://www.hackingchinese.com/tag/benchmarking/">Benchmarking</a>
                                        <a style="font-size: 11.6pt;" title="5 topics" class="tag-link-114" href="http://www.hackingchinese.com/tag/challenge/">Challenge</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-58" href="http://www.hackingchinese.com/tag/character-components/">Character components</a>
                                        <a style="font-size: 19pt;" title="13 topics" class="tag-link-61" href="http://www.hackingchinese.com/tag/characters/">Characters</a>
                                        <a style="font-size: 15pt;" title="8 topics" class="tag-link-73" href="http://www.hackingchinese.com/tag/culture/">Culture</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-99" href="http://www.hackingchinese.com/tag/dialogue/">Dialogue</a>
                                        <a style="font-size: 14pt;" title="7 topics" class="tag-link-16" href="http://www.hackingchinese.com/tag/efficiency/">Efficiency</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-44" href="http://www.hackingchinese.com/tag/friends/">Friends</a>
                                        <a style="font-size: 18.2pt;" title="12 topics" class="tag-link-45" href="http://www.hackingchinese.com/tag/goals/">Goals</a>
                                        <a style="font-size: 14pt;" title="7 topics" class="tag-link-70" href="http://www.hackingchinese.com/tag/grammar/">Grammar</a>
                                        <a style="font-size: 15pt;" title="8 topics" class="tag-link-197" href="http://www.hackingchinese.com/tag/handwriting/">Handwriting</a>
                                        <a style="font-size: 11.6pt;" title="5 topics" class="tag-link-182" href="http://www.hackingchinese.com/tag/hsk/">HSK</a>
                                        <a style="font-size: 20.6pt;" title="16 topics" class="tag-link-111" href="http://www.hackingchinese.com/tag/immersion/">Immersion</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-42" href="http://www.hackingchinese.com/tag/language-exchange/">Language exchange</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-105" href="http://www.hackingchinese.com/tag/leeches/">Leeches</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-242" href="http://www.hackingchinese.com/tag/listening-strategies/">Listening strategies</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-306" href="http://www.hackingchinese.com/tag/literature/">Literature</a>
                                        <a style="font-size: 11.6pt;" title="5 topics" class="tag-link-94" href="http://www.hackingchinese.com/tag/micro-goals/">Micro goals</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-54" href="http://www.hackingchinese.com/tag/mistakes/">Mistakes</a>
                                        <a style="font-size: 18.2pt;" title="12 topics" class="tag-link-60" href="http://www.hackingchinese.com/tag/mnemonics/">Mnemonics</a>
                                        <a style="font-size: 16pt;" title="9 topics" class="tag-link-90" href="http://www.hackingchinese.com/tag/motivation/">Motivation</a>
                                        <a style="font-size: 14pt;" title="7 topics" class="tag-link-263" href="http://www.hackingchinese.com/tag/music/">Music</a>
                                        <a style="font-size: 16.8pt;" title="10 topics" class="tag-link-43" href="http://www.hackingchinese.com/tag/native-speakers/">Native speakers</a>
                                        <a style="font-size: 11.6pt;" title="5 topics" class="tag-link-251" href="http://www.hackingchinese.com/tag/passive-listening/">passive listening</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-91" href="http://www.hackingchinese.com/tag/planning/">Planning</a>
                                        <a style="font-size: 22pt;" title="19 topics" class="tag-link-21" href="http://www.hackingchinese.com/tag/pronunciation/">Pronunciation</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-57" href="http://www.hackingchinese.com/tag/radicals/">Radicals</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-483" href="http://www.hackingchinese.com/tag/reading-aloud/">Reading aloud</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-181" href="http://www.hackingchinese.com/tag/reading-speed/">Reading speed</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-380" href="http://www.hackingchinese.com/tag/sensible-character-learning/">Sensible character learning</a>
                                        <a style="font-size: 11.6pt;" title="5 topics" class="tag-link-53" href="http://www.hackingchinese.com/tag/skritter/">Skritter</a>
                                        <a style="font-size: 8pt;" title="3 topics" class="tag-link-49" href="http://www.hackingchinese.com/tag/software/">Software</a>
                                        <a style="font-size: 18.2pt;" title="12 topics" class="tag-link-373" href="http://www.hackingchinese.com/tag/spaced-repetition-software/">Spaced repetition software</a>
                                        <a style="font-size: 16pt;" title="9 topics" class="tag-link-229" href="http://www.hackingchinese.com/tag/srs/">SRS</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-202" href="http://www.hackingchinese.com/tag/taiwan/">Taiwan</a>
                                        <a style="font-size: 16pt;" title="9 topics" class="tag-link-14" href="http://www.hackingchinese.com/tag/teachers/">Teachers</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-360" href="http://www.hackingchinese.com/tag/tocfl/">TOCFL</a>
                                        <a style="font-size: 18.2pt;" title="12 topics" class="tag-link-78" href="http://www.hackingchinese.com/tag/tones/">Tones</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-59" href="http://www.hackingchinese.com/tag/toolkit/">Toolkit</a>
                                        <a style="font-size: 16.8pt;" title="10 topics" class="tag-link-9" href="http://www.hackingchinese.com/tag/vocabulary/">Vocabulary</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-66" href="http://www.hackingchinese.com/tag/words/">Words</a>
                                        <a style="font-size: 10pt;" title="4 topics" class="tag-link-56" href="http://www.hackingchinese.com/tag/zhongwen-com/">Zhongwen.com</a></div>
                                          </div></li><li class="widget_text widget fix" id="text-7"><div class="widget-pad"><h3 class="widget-title">Recommended resource</h3>      <div class="textwidget"><a href="http://www.hackingchinese.com/Skritter-MB">
                                          <img src="http://www.hackingchinese.com/media/skritter3.jpg" scale="0"></a></div>
                                </div></li> </ul>
                                <div class="clear"></div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- END #dynamic-content -->

          <div id="morefoot_area"><div class="container fix" id="morefoot">
              <div class="texture">
                <div class="content">
                  <div class="content-pad">
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>

        </div> <!-- END #page-main from header -->
      </div> <!-- END #page-canvas from header -->
    </div> <!-- END #page from header -->

    <div id="footer">
      <div class="outline fix"><div class="container fix" id="morefoot">
          <div class="texture">
            <div class="content">
              <div class="content-pad">
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagelines" id="cred"><a title="PageLines" href="http://www.pagelines.com/" target="_blank" class="plimage"><img alt="Platform by PageLines" src="http://www.hackingchinese.com/wp-content/themes/platform/images/pagelines.png" scale="0"></a></div><div class="clear"></div></div>
    </div>
  </div>
  <script type="text/javascript">
var sc_project=9630841;
var sc_invisible=1;
var sc_security="d709cae3";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img class="statcounter"
src="http://c.statcounter.com/9630841/0/d709cae3/1/" alt="web
analytics"></a></div></noscript>
</body>
